# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        toughasnails:temperature_coil
        forestry:fence.gates.larch
        forestry:fence.gates.fireproof.larch
        forestry:fence.gates.teak
        forestry:fence.gates.fireproof.teak
        forestry:fence.gates.acacia
        forestry:fence.gates.fireproof.acacia
        forestry:fence.gates.lime
        forestry:fence.gates.fireproof.lime
        forestry:fence.gates.chestnut
        forestry:fence.gates.fireproof.chestnut
        forestry:fence.gates.wenge
        forestry:fence.gates.fireproof.wenge
        forestry:fence.gates.baobab
        forestry:fence.gates.fireproof.baobab
        forestry:fence.gates.sequoia
        forestry:fence.gates.fireproof.sequoia
        forestry:fence.gates.kapok
        forestry:fence.gates.fireproof.kapok
        forestry:fence.gates.ebony
        forestry:fence.gates.fireproof.ebony
        forestry:fence.gates.mahogany
        forestry:fence.gates.fireproof.mahogany
        forestry:fence.gates.balsa
        forestry:fence.gates.fireproof.balsa
        forestry:fence.gates.willow
        forestry:fence.gates.fireproof.willow
        forestry:fence.gates.walnut
        forestry:fence.gates.fireproof.walnut
        forestry:fence.gates.greenheart
        forestry:fence.gates.fireproof.greenheart
        forestry:fence.gates.cherry
        forestry:fence.gates.fireproof.cherry
        forestry:fence.gates.mahoe
        forestry:fence.gates.fireproof.mahoe
        forestry:fence.gates.poplar
        forestry:fence.gates.fireproof.poplar
        forestry:fence.gates.palm
        forestry:fence.gates.fireproof.palm
        forestry:fence.gates.papaya
        forestry:fence.gates.fireproof.papaya
        forestry:fence.gates.pine
        forestry:fence.gates.fireproof.pine
        forestry:fence.gates.plum
        forestry:fence.gates.fireproof.plum
        forestry:fence.gates.maple
        forestry:fence.gates.fireproof.maple
        forestry:fence.gates.citrus
        forestry:fence.gates.fireproof.citrus
        forestry:fence.gates.giganteum
        forestry:fence.gates.fireproof.giganteum
        forestry:fence.gates.ipe
        forestry:fence.gates.fireproof.ipe
        forestry:fence.gates.padauk
        forestry:fence.gates.fireproof.padauk
        forestry:fence.gates.cocobolo
        forestry:fence.gates.fireproof.cocobolo
        forestry:fence.gates.zebrawood
        forestry:fence.gates.fireproof.zebrawood
        forestry:fence.gates.vanilla.fireproof.oak
        forestry:fence.gates.vanilla.fireproof.spruce
        forestry:fence.gates.vanilla.fireproof.birch
        forestry:fence.gates.vanilla.fireproof.jungle
        forestry:fence.gates.vanilla.fireproof.acacia
        forestry:fence.gates.vanilla.fireproof.dark_oak
        forestry:doors.larch
        forestry:doors.teak
        forestry:doors.acacia
        forestry:doors.lime
        forestry:doors.chestnut
        forestry:doors.wenge
        forestry:doors.baobab
        forestry:doors.sequoia
        forestry:doors.kapok
        forestry:doors.ebony
        forestry:doors.mahogany
        forestry:doors.balsa
        forestry:doors.willow
        forestry:doors.walnut
        forestry:doors.greenheart
        forestry:doors.cherry
        forestry:doors.mahoe
        forestry:doors.poplar
        forestry:doors.palm
        forestry:doors.papaya
        forestry:doors.pine
        forestry:doors.plum
        forestry:doors.maple
        forestry:doors.citrus
        forestry:doors.giganteum
        forestry:doors.ipe
        forestry:doors.padauk
        forestry:doors.cocobolo
        forestry:doors.zebrawood
        extratrees:fence.gates.fir
        extratrees:fence.gates.fireproof.fir
        extratrees:fence.gates.cedar
        extratrees:fence.gates.fireproof.cedar
        extratrees:fence.gates.hemlock
        extratrees:fence.gates.fireproof.hemlock
        extratrees:fence.gates.cypress
        extratrees:fence.gates.fireproof.cypress
        extratrees:fence.gates.fig
        extratrees:fence.gates.fireproof.fig
        extratrees:fence.gates.beech
        extratrees:fence.gates.fireproof.beech
        extratrees:fence.gates.alder
        extratrees:fence.gates.fireproof.alder
        extratrees:fence.gates.hazel
        extratrees:fence.gates.fireproof.hazel
        extratrees:fence.gates.hornbeam
        extratrees:fence.gates.fireproof.hornbeam
        extratrees:fence.gates.box
        extratrees:fence.gates.fireproof.box
        extratrees:fence.gates.butternut
        extratrees:fence.gates.fireproof.butternut
        extratrees:fence.gates.hickory
        extratrees:fence.gates.fireproof.hickory
        extratrees:fence.gates.whitebeam
        extratrees:fence.gates.fireproof.whitebeam
        extratrees:fence.gates.elm
        extratrees:fence.gates.fireproof.elm
        extratrees:fence.gates.apple
        extratrees:fence.gates.fireproof.apple
        extratrees:fence.gates.yew
        extratrees:fence.gates.fireproof.yew
        extratrees:fence.gates.pear
        extratrees:fence.gates.fireproof.pear
        extratrees:fence.gates.hawthorn
        extratrees:fence.gates.fireproof.hawthorn
        extratrees:fence.gates.rowan
        extratrees:fence.gates.fireproof.rowan
        extratrees:fence.gates.elder
        extratrees:fence.gates.fireproof.elder
        extratrees:fence.gates.maclura
        extratrees:fence.gates.fireproof.maclura
        extratrees:fence.gates.syzgium
        extratrees:fence.gates.fireproof.syzgium
        extratrees:fence.gates.brazilwood
        extratrees:fence.gates.fireproof.brazilwood
        extratrees:fence.gates.logwood
        extratrees:fence.gates.fireproof.logwood
        extratrees:fence.gates.iroko
        extratrees:fence.gates.fireproof.iroko
        extratrees:fence.gates.locust
        extratrees:fence.gates.fireproof.locust
        extratrees:fence.gates.eucalyptus
        extratrees:fence.gates.fireproof.eucalyptus
        extratrees:fence.gates.purpleheart
        extratrees:fence.gates.fireproof.purpleheart
        extratrees:fence.gates.ash
        extratrees:fence.gates.fireproof.ash
        extratrees:fence.gates.holly
        extratrees:fence.gates.fireproof.holly
        extratrees:fence.gates.olive
        extratrees:fence.gates.fireproof.olive
        extratrees:fence.gates.sweetgum
        extratrees:fence.gates.fireproof.sweetgum
        extratrees:fence.gates.rosewood
        extratrees:fence.gates.fireproof.rosewood
        extratrees:fence.gates.gingko
        extratrees:fence.gates.fireproof.gingko
        extratrees:fence.gates.pinkivory
        extratrees:fence.gates.fireproof.pinkivory
        extratrees:fence.gates.banana
        extratrees:fence.gates.fireproof.banana
        extratrees:doors.apple
        extratrees:doors.fig
        extratrees:doors.butternut
        extratrees:doors.whitebeam
        extratrees:doors.rowan
        extratrees:doors.hemlock
        extratrees:doors.ash
        extratrees:doors.alder
        extratrees:doors.beech
        extratrees:doors.hawthorn
        extratrees:doors.banana
        extratrees:doors.yew
        extratrees:doors.cypress
        extratrees:doors.fir
        extratrees:doors.hazel
        extratrees:doors.hickory
        extratrees:doors.elm
        extratrees:doors.elder
        extratrees:doors.holly
        extratrees:doors.hornbeam
        extratrees:doors.cedar
        extratrees:doors.olive
        extratrees:doors.sweetgum
        extratrees:doors.locust
        extratrees:doors.pear
        extratrees:doors.maclura
        extratrees:doors.brazilwood
        extratrees:doors.logwood
        extratrees:doors.rosewood
        extratrees:doors.purpleheart
        extratrees:doors.iroko
        extratrees:doors.gingko
        extratrees:doors.eucalyptus
        extratrees:doors.box
        extratrees:doors.syzgium
        extratrees:doors.pinkivory
        sonarcore:reinforcedstonegate
        sonarcore:reinforcedstonebrickgate
        sonarcore:reinforceddirtgate
        sonarcore:reinforceddirtbrickgate
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        thaumcraft:activator_rail
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_self_resetting_lever5i
        enderio:block_self_resetting_lever10i
        enderio:block_self_resetting_lever30i
        enderio:block_self_resetting_lever60i
        enderio:block_self_resetting_lever300i
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        tconstruct:slime_channel
        campfire:brazier
        campfire:campfire
        netherex:quartz_fence_gate
        netherex:nether_brick_fence_gate
        netherex:red_nether_brick_fence_gate
        netherex:gloomy_nether_brick_fence_gate
        netherex:lively_nether_brick_fence_gate
        netherex:fiery_nether_brick_fence_gate
        netherex:icy_nether_brick_fence_gate
        netherex:basalt_fence_gate
        netherex:smooth_basalt_fence_gate
        netherex:basalt_brick_fence_gate
        netherex:basalt_pillar_fence_gate
        storagedrawers:keybutton
        techguns:bunkerdoor
        thaumicaugmentation:button_greatwood
        thaumicaugmentation:button_silverwood
        thaumicaugmentation:button_arcane_stone
        thaumicaugmentation:pressure_plate_greatwood
        thaumicaugmentation:pressure_plate_silverwood
        thaumicaugmentation:pressure_plate_arcane_stone
        thaumictinkerer:transvector_dislocator
        tcomplement:alloy_tank
        davincisvessels:crate_wood
        thebetweenlands:weedwood_plank_fence_gate
        thebetweenlands:weedwood_log_fence_gate
        thebetweenlands:rubber_tree_plank_fence_gate
        thebetweenlands:giant_root_plank_fence_gate
        thebetweenlands:hearthgrove_plank_fence_gate
        thebetweenlands:nibbletwig_plank_fence_gate
        thebetweenlands:weedwood_plank_pressure_plate
        thebetweenlands:betweenstone_pressure_plate
        thebetweenlands:syrmorite_pressure_plate
        thebetweenlands:weedwood_plank_button
        thebetweenlands:betweenstone_button
        thebetweenlands:weedwood_lever
        thebetweenlands:mud_tower_beam_origin
        thebetweenlands:mud_tower_beam_relay
        thebetweenlands:rotten_plank_fence_gate
        thebetweenlands:weedwood_door
        thebetweenlands:rubber_tree_plank_door
        thebetweenlands:giant_root_plank_door
        thebetweenlands:hearthgrove_plank_door
        thebetweenlands:nibbletwig_plank_door
        thebetweenlands:syrmorite_door
        thebetweenlands:scabyst_door
        thebetweenlands:rotten_plank_door
        thebetweenlands:weedwood_door_treated
        thebetweenlands:rubber_tree_plank_door_treated
        thebetweenlands:giant_root_plank_door_treated
        thebetweenlands:hearthgrove_plank_door_treated
        thebetweenlands:nibbletwig_plank_door_treated
        thebetweenlands:rotten_plank_door_treated
        thebetweenlands:weedwood_plank_fence_gate_treated
        thebetweenlands:rubber_tree_plank_fence_gate_treated
        thebetweenlands:giant_root_plank_fence_gate_treated
        thebetweenlands:hearthgrove_plank_fence_gate_treated
        thebetweenlands:nibbletwig_plank_fence_gate_treated
        thebetweenlands:rotten_plank_fence_gate_treated
        roots:wildwood_door
        roots:wildwood_fence_gate
        roots:wildwood_button
        roots:wildwood_pressure_plate
        roots:runestone_button
        roots:runestone_pressure_plate
        roots:runestone_brick_button
        roots:runestone_brick_pressure_plate
        roots:runestone_brick_alt_button
        roots:runestone_brick_alt_pressure_plate
        roots:runed_obsidian_button
        roots:runed_obsidian_pressure_plate
        roots:runed_obsidian_brick_button
        roots:runed_obsidian_brick_pressure_plate
        roots:runed_obsidian_brick_alt_button
        roots:runed_obsidian_brick_alt_pressure_plate
        mysticalworld:charred_button
        mysticalworld:charred_pressure_plate
        mysticalworld:charred_fence_gate
        mysticalworld:mud_block_button
        mysticalworld:mud_block_pressure_plate
        mysticalworld:mud_block_fence_gate
        mysticalworld:mud_brick_button
        mysticalworld:mud_brick_pressure_plate
        mysticalworld:mud_brick_fence_gate
        mysticalworld:pearl_button
        mysticalworld:pearl_pressure_plate
        mysticalworld:pearl_fence_gate
        blockcraftery:editable_door
        blockcraftery:editable_door_reinforced
        blockcraftery:editable_pressure_plate_all
        blockcraftery:editable_pressure_plate_items
        blockcraftery:editable_pressure_plate_mobs
        blockcraftery:editable_pressure_plate_player
        blockcraftery:editable_pressure_plate_all_reinforced
        blockcraftery:editable_pressure_plate_items_reinforced
        blockcraftery:editable_pressure_plate_mobs_reinforced
        blockcraftery:editable_pressure_plate_player_reinforced
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


